@model IEnumerable<QA_Project.Models.User_Post>

@{
    Layout = null;
}


    <div class="comments-list js-comments-list" data-remaining-comments-count="0" data-canpost="false"
         data-cansee="true" data-comments-unavailable="false" data-addlink-disabled="true">
        @foreach (var item in Model)
        {

            <!-- Comments here-->

            <div id="comment-103992640" class="comment js-comment " data-comment-id="103992640">
                <div class="comment-text js-comment-text-and-form">
                    <div class="comment-body hr js-comment-edit-hide">

                        <div class="comment-copy">

                            @Html.DisplayFor(modelItem => item.Discription)
                        </div>

                        @Html.DisplayFor(modelItem => item.Poster.Email)
                        <span class="comment-date" dir="ltr">
                            <span title="2019-11-14 15:56:18Z"
                                  class="relativetime-clean">
                                @item.PostedOn.ToString("g")
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        }
    </div>
<style>
    .hr {
        width: 100vw;
        border-bottom:1px solid #e4e6e8;
    }
    .comment {
        -webkit-font-smoothing: antialiased;
        word-break: break-word;
        box-sizing: inherit;
        padding: 0;
        border: 0;
        vertical-align: baseline;
        color: #2E3C57;
        font-size: 1.2rem;
        font-family: soleil, sans-serif;
        font-weight: 400;
        line-height: 1.8;
        letter-spacing: -0.48px;
        margin: 12px 0;
    }
</style>