@model QA_Project.Controllers.HomeController.HtmlPage

@{
    Layout = null;
}

<div class="onclikGooGle" onload="removeLinks()" style="margin-left: 80%;
    margin-top: -128px;
    z-index: 1000;
    position: relative;">
    @Html.Raw(@Model.data)
</div>
