
<form class="imageupload" action="" method="post" enctype="multipart/form-data">
    <div style="display:flex;
                flex-direction: row;
                justify-items:flex-start;
                justify-content:space-around;
                margin: 20px 20px;">
        <label for="ScreenName">Screen Name</label>
        <input type="text" name="ScreenName" id="ScreenName" />
        <label for="file">Upload Image</label>
        <input type="file" name="file" id="file" />
        <input type="submit" class="submit" />
    </div>
</form>
<style>
    imageupload label {
        width: 300px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: larger;
        color: forestgreen;
    }

    .submit {
        width: 300px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: larger;
        color: forestgreen;
    }
</style>
