
<form class="imageupload" action="" method="post" enctype="multipart/form-data">
    <label for="file">Upload Image</label>
    <input type="file" name="file" id="file" />
    <input type="submit" class="submit" />
</form>
<style>
    imageupload label {
        width: 300px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: larger;
        color: forestgreen;
    }

    .submit {
        width: 300px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: larger;
        color: forestgreen;
    }
</style>
